<div class="main-content">
    <router-outlet></router-outlet>
</div>

    <div class="row m-4">
        <div class="col-6">
            <h2>Incomplete Missions</h2>
            <ul *ngFor="let tl of theList;let i=index;" class="list-group">
                <li *ngIf="tl.status=='Pending' && (tl.taskCategory == cat)" class="list-group-item d-flex p-3 justify-content-between align-items-center">
                   <div>
                    <p>{{tl.taskName}}</p>
                    <p>{{tl.creationTime | date :'short'}}</p>
                    <p class="badge bg-info text-light">{{tl.taskCategory}}</p>
                   </div>
                   
                     
                    <button (click)="finishTask(tl.id)" type="button" class="btn btn-outline-success btn-sm">✔️ Mark Complete</button>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h2>Completed Missions</h2>
            <ul *ngFor="let c of theList;let j=index;" class="list-group">
                <li *ngIf="c.status=='Completed' && (c.taskCategory == cat)" class="list-group-item p-3 d-flex justify-content-between align-items-center">
                <div>
                    <p>{{c.taskName}}</p>
                    <p>{{c.creationTime | date :'short'}}</p>
                    <p class="badge bg-info text-light">{{c.taskCategory}}</p>
                </div>
                    <button (click)="removeTask(c.id)" type="button" class="btn btn-outline-danger btn-sm">❌ Remove</button>
                </li>
            </ul>
        </div>
    </div>


