<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">⚡ Skywalker's To Do List Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div *ngFor="let c of taskCategories">
                        <a class="dropdown-item" [routerLink]="['/category/',c]">{{c}}</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">All Tasks: {{allCount}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Incomplete Tasks: {{incompCount}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Completed Tasks: {{compCount}}</a>
            </li>
        </ul>
    </div>
</nav>
