<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
        <div class="input-group p-5">
          <input type="text" class="form-control p-3" placeholder="New Task" #mission>
          <div class="input-group-append">
            <button (click)="addingToTheList(mission.value)" class="btn btn-outline-info p-3" type="button"
              id="button-addon2">➕ Add Task</button>
          </div>
        </div>
        <app-tasklist [list]="theList"></app-tasklist>
</body>
</html>


