<app-navbar></app-navbar>
<div class="p-3">
    <form #theForm="ngForm">

        <div class="row" style="margin-left: 1%;">
            <div class="col-5">
                <label for="mission" class="pb-2">Enter a Task</label>
                <input type="text" name="mission" [(ngModel)]="userModel.taskName" required
                    [class.is-invalid]="mission.invalid && mission.touched" class="form-control p-3" id="mission"
                    #mission="ngModel">
            </div>
            <div class="col-5">
                <label for="category" class="pb-2">Choose a Category</label>
                <select class="custom-select form-control p-3" [(ngModel)]="userModel.category"
                    [class.is-invalid]="category.invalid && category.touched" required name="category" id="category"
                    #category="ngModel">
                    <option>Personal</option>
                    <option>Work</option>
                    <option>Others</option>
                </select>
            </div>
            <div class="col-2">
                <button (click)="addingToTheList(mission.value,category.value)" [disabled]="theForm.form.invalid"
                    class="btn btn-outline-info btn-block p-3" style="margin-top: 2rem;" type="button"
                    id="button-addon2">➕
                    Add Task to the List</button>
            </div>
        </div>
    </form>

</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>





